# This workflow builds and releases a Go project for Windows.
# It triggers on push and tag events.

name: Go Build and Release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25.3
      - name: Install Zig
        run: sudo apt-get update && sudo apt-get install -y zig
      - name: Install dependencies
        run: |
          go version
          go mod tidy
      - name: Build Windows Executable with Zig
        run: |
          GOOS=windows GOARCH=amd64 CGO_ENABLED=1 CC="zig cc -target x86_64-windows" CXX="zig c++ -target x86_64-windows" \
          go build -o KKCardModCheck.exe -trimpath
      - name: Create Release Archive
        run: |
          zip KKCardModCheck.zip KKCardModCheck.exe
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: KKCardModCheck.zip
          path: ./KKCardModCheck.zip

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25.3
      - name: Install mingw-w64
        run: sudo apt-get update && sudo apt-get install -y gcc-mingw-w64 g++-mingw-w64
      - name: Build Windows Executable
        run: |
          GOOS=windows GOARCH=amd64 CGO_ENABLED=1 CC="x86_64-w64-mingw32-gcc" CXX="x86_64-w64-mingw32-g++" \
          go build -ldflags "-s -w" -o KKCardModCheck.exe -trimpath
      - name: Create Release Archive
        run: |
          zip KKCardModCheck.zip KKCardModCheck.exe
      - name: Generate Commit Log
        run: git log -1 > commit_log.txt
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./KKCardModCheck.zip
            ./commit_log.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
