# This workflow builds and releases a Go project for Windows.
# It triggers on push and tag events.

name: Go Build and Release

on:
  push:
    branches:
      - "main" # 仅在 main 分支更新时触发
    tags:
      - "v*.*.*" # 仅在符合 v*.*.* 模式的标签推送时触发

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # 拉取完整的 Git 历史记录
          tags: true     # 确保拉取所有标签
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25.3
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install dependencies
        run: |
          go version
          go mod tidy
      - name: Build Windows Executable
        run: |
          git log -1 > commit_log.txt
          $version=$(git describe --tags --match "v[0-9]*" --always)
          $buildDate=$(Get-Date -Format "yyyy-MM-ddTHH:mm:ssZ")
          $gitHash=$(git rev-parse --short HEAD)
          $ldflags="-H=windowsgui -s -w -X main.version=$version -X main.buildDate=$buildDate -X main.gitHash=$gitHash"
          go build -ldflags "$ldflags" -o KKCardModCheck.exe -trimpath
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: KKCardModCheck.exe
          path: ./KKCardModCheck.exe

  release:
    runs-on: windows-latest
    needs: build # 确保 release 作业依赖 build 作业
    if: startsWith(github.ref, 'refs/tags/v') # 仅在标签推送时触发
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v3
        with:
          name: KKCardModCheck.exe
      - name: Create ZIP Archive
        run: |
          Compress-Archive -Path KKCardModCheck.exe -DestinationPath KKCardModCheck.zip
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./KKCardModCheck.zip
            ./commit_log.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
