# 分离 build 和 release 的触发条件
name: 推送构建

on: [ push ]

jobs:
  build:
    name: Build binary CI
    # 仅 main 分支 push 且非 tag push 时运行
    if: github.ref == 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/')
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 拉取完整的 Git 历史记录
          fetch-tags: true # 确保拉取所有标签（正确字段）
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.3

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install dependencies
        run: |
          go version
          go mod tidy
      - name: Build Windows Executable
        run: |
          git log -1 > commit_log.txt
          $version = $(git describe --tags --match "v[0-9]*" --always)
          $buildDate = (Get-Date -Format "yyyy-MM-ddTHH:mm:ssZ")
          $gitHash = $(git rev-parse --short HEAD)
          $ldflags = "-H=windowsgui -s -w -X main.version=$version -X main.buildDate=$buildDate -X main.gitHash=$gitHash"
          Write-Host "Building ldflags: $ldflags"
          go build -ldflags "$ldflags" -o KKCardModCheck.exe -trimpath
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: KKCardModCheck.exe
          path: ./KKCardModCheck.exe